# Database
DATABASE_URL=

# Cloudflare D1
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_API_TOKEN=

# JWT
JWT_SECRET=

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost

# Email
CLOUDFLARE_EMAIL_API_TOKEN=

# Services
EXTERNAL_API_ENDPOINT=https://api.zamil-group.com